* {
    margin: 0;
    padding: 0;
  }
  body {
    background: #f5f5fa;
  }
  .card {
    width: 500px;
    height: 600px;
    box-shadow: 0px 0px 11px 2px rgba(17, 17, 17, 0.25);
    background: #fff; 
    top: 50%;
  }
  .card, #color, button, p, a {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #000211;
    margin: 30px 0 0 0;
  }
  #color {
    width: 70%;
    height: 350px;
    background: red;
    top: 45%;
  }
  button {
    background-color: #007bff;
    color: white;
    border: none;
    width: 70%;
    height: 55px;
    border-radius: 5px;
    margin-top: 10px;
    bottom: 4%;
  }
  p {
    top: 78%;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
  }
  