* {
    margin: 0;
    padding: 0;
    background: #191E24;
}
.main, .block {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.card {
    background: #FFDD52;
    width: 540px;
    height: 675px;
    border-radius: 10px;
}
.circle1, .circle2 {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 1;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    animation: circle 1s infinite ease-in;
}
.circle1 {
    background: linear-gradient(90deg, #BF5AE0 0%, #A811DA 100%);
    bottom: 1%;
    left: 1%;
}
.circle2 {
    background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
    top: 8%;
    right: 8%;
}
.block {
    width: 360px;
    height: 530px;
    background: rgba( 255, 255, 255, 0.10 );
    border-radius: 10px;
    z-index: 999;
}
.block h1 {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: 1px;
    background: transparent;
    margin: 50px 0 0 0;
}
.time {
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 30vh;
    background: rgba( 255, 255, 255, 0.1 );
    border-radius: 10px;
}
h2, .time {
    display: inline-block;
    text-align: right;
}
h2 {
    margin: 30px 0 0 0;
}
h2, p {
    background-color: rgba(0,0,0,0);
    color: #FFF;
    font-size: 19px;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: -0.45px;
    padding: 10px 15px;
    text-align: center;
}
p {
    margin: 10px 0 0 0;
}
input {
    width: 50%;
    height: 40px;
    background: #fff;
    border: none;
    margin: 0 25px 0 0;
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 500;
}
@keyframes circle {
    0% {
        transform: translateX(35deg);
    }
    50% {
        transform: translateX(0deg);
    }
    100% {
        transform: translateX(35deg);
    }
}