body{
    margin: 0;
    display: flex;
    justify-content: center;
    /*background-color: #191E24;*/
    background: #000;
}

.form{
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    width: 400px;
    background-color: #007bff;
    /*background: #474C52;*/
    border-radius: 10px;
    color: #fff;
}

.input{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.input::placeholder{
    color: lightgray;
}

.list{
    padding: 0;
    margin: 0;
}

.list li{
    list-style-type: none;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /*border-top: dotted;*/
    border-color: darkgray;
    position: relative;
}

.list li .fa-x{
    color: #fff;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;    
}
.list li .fa-x:hover {
  color: red;
}
.list li .fa-check:hover {
  color: green;
}
.list li .fa-check{
    color: #fff;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li.checked {
    color: darkgray;
    text-decoration: line-through;
}
