@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    /*background: #f2efef;*/
    background: #191E24;
}
form {
    height: 35vh;
    width: 20%;
    background: #fff;
    color: #000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
h1 {
    font-weight: 500;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 10%;
}
input {
    width: 80%;
    height: 35px;
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-size: 15px;
}
label, input {
    margin-left: 10%;
    margin-top: 5px;
}
label {
    font-size: 20px;
    color: #777777;
    font-weight: 500;
}
.form-field {
    margin-top: 10px;
}
::placeholder {
    font-size: 15px;
    font-weight: 300;
    margin-left: 5%;
}
small {
    margin-left: 10%;
    color:red;
}
#btn {
    background-color: #007BFF;
    color: #fff;
    /*position: absolute;
    bottom: 10%*/
    border-radius: none;
}
