body {
    background-color: #191E24;
}
#clockContainer {
    position: relative;
    margin: 100px auto;
    height: 40vw;
    width: 40vw;
    background: url("3.svg") no-repeat;
    background-size: 100%;
}
#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}  
#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
}
#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
}
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
}